{{ define "content" }}
    <div class="d-flex align-items-center justify-content-center vh-100 bg-dark">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-white">500</h1>
            <p class="fs-3 text-white">An unexpected error occurred. Please check the logs for more information.</p>
            <a href="/ui/" class="btn btn-light">Go to homepage</a>
        </div>
    </div>
{{ end }}